.content {
  --sidebar-color: #131313;
  --room-color: #1d1d1d;
  --text-color1: #eee;
  --text-color2: #ddd;
  --text-color3:#e6e6e6;
  --text-color4:#e4e4e4;
  --border-color-1:#111;
  --main-col1:#ff004455;
  --active-server-item-color: #ff006f63;
  --hover-server-item-color: #29292963;
  --setting-popup-bg:#3335;
  --input-bg-color:#222;
  --input-border-color:#222;
  --input-bs-color:#ff005d;
  --folder-hover-color:#ff004455;
  --room-background:url(assets/defaultback.jpg);
  --option-btn-color:#fffA;
  --hover-option-btn-bg-color:#222;

}

.content.light *{
  --sidebar-color: #fff;
  --room-color: #cacaca;
  --setting-popup-bg:rgba(255, 255, 255, 0.603);
  --text-color1: #333;
  --text-color3:#222;
  --text-color4:#252525;
  --border-color-1:#eee;
  --input-bg-color:#e5e5e5;
  --input-border-color:#ffffff;
  --input-bs-color:#0084ff;
  --text-color2: #444;
  --folder-hover-color:#006eff55;
  --hover-server-item-color: #e7e7e763;
  --active-server-item-color:#1fb8ffc0;
  --room-background:url(assets/light.png);
  --option-btn-color:#222;
  --hover-option-btn-bg-color:#d6d6d6;
}


body
{
  -webkit-user-drag: none;
}


a
{
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  position: relative;
  -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}

.content {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  font-family: -apple-system,apple color emoji,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif
}

.room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:var(--room-background) ;

  .nos
  {
    background-color: var(--input-bg-color);
    margin: auto;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    padding: 10px 40px;
    color: var(--text-color4);
  }

  button
  {
    cursor: pointer;
  }
  .roommain
  {
    display: flex;
    height: 100%;
    width: 100%;
    .xxx
    {
      width: 100%;
      height: 100%;

    }
    .details
    {
width: 312px;
background-color: var(--sidebar-color);
display: flex;
flex-direction: column;

img
{
  margin:50px  auto;
  height: 100px;
}
.informations
{
  padding: 20px;
  display: flex;
  flex-direction: column;

  span
  {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--text-color4);

    i
    {
      font-weight: 300;
    }
  }
}
    }
  }

  .roomdata {
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 3px;
width: 100%;
height: fit-content;
    overflow: auto;
  }

  .bottombar
  {
    background-color: var(--sidebar-color);
    position: absolute;
    bottom: 0;
    width: 100%;


    
    button 
    {
      background-color: var(--sidebar-color);
      font-size: 1.2rem;
      padding: 12px 27px;
      width: 200px;
      color:var(--text-color1);
      border: none;
      width: 100%;

      &.quit
      {
color: #b66;
      }
      &:hover
      {
        background-color:var(--input-bg-color)
      }
    }
  }
  .data {
    font-weight: 400;
    height: 124px;
    display: flex;
    flex-direction: column;
    width: 132px;
    justify-content: center;
    align-items: center;
    color: var(--text-color1);
    border-radius:20px;
    padding: 10px 10px;

    .name {
      margin: 10px;
      white-space: nowrap;
      color: var(--text-color2);
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    &:hover {
       background-color: var(--folder-hover-color);

    }
  }
}


.sidebar {
  min-width: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sidebar-color);
  color: #eee;
  /* border-right: 10px solid #222; */
  border-right: 1px solid var(--border-color-1);

  backdrop-filter: blur(20px);
  .serverinsearch
  {
    .item {
      display: flex;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      button 
      {
        width: 40px;
        height: 40px;
        display: flex;
        background-color: transparent;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: none;
        
        svg
        {
          stroke: var(--text-color4)

        }
      }
      &.active
      {
        background-color: var(--active-server-item-color)!important;
      }
  
      &:hover {
        background-color: var(--hover-server-item-color)
      }
  
      img {
        min-width: 56px;
        background-color: #444;
        min-height: 56px;
        max-width: 56px;
        max-height: 56px;
        border-radius: 50%;
  
      }
  
      .info {
        padding: 0 10px;
  
        span {
          color: var(--text-color3)
        }
  
        h3 {
          margin: 0;
          color: var(--text-color3);
          font-weight: 400;
          font-size: 1.3rem;
        }
  
      }
    }
  }
  .searchfolder
  {
    top:0;
    position:absolute;
    background-color: var(--sidebar-color);
    width: 100%;
    height: 100%;
  }
  header
  {
    padding: 20px 0;
    display: flex;
    width: 100%;
 
    nav
    {
      padding: 0 20px;
      button {
        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        color: white;
  
        svg
        {
          fill: wheat;
          stroke: var(--option-btn-color);
        }
      }
    ul
    {
      background-color: var(--setting-popup-bg);
      backdrop-filter: blur(40px);
      width: 300px;
      margin: 0;
      position: absolute;
      z-index: 1000000;
      border-radius: 20px;
      padding: 0;
      box-shadow: 0px 0px 10px rgba(0,0,0,.15);;
      li
      {
color: var(--text-color1);
        padding: 20px;
        border-radius: 20px;
        &:hover
        {
          background-color: rgba(0, 0, 0, 0.100);
        }
      }
    }  
    }
  
    

    form
    {
      flex-grow: 1;
      padding: 0 20px;
      input
      {  
        width: 100%;
        padding: 10px;
        height: 2.5rem;
      
      }
    }
  }


}


form {
  display: flex;
}

form input {
  color: var(--text-color2);
  background-color: var(--input-bg-color);
  border: 2px solid var(--input-border-color);
  border-radius: 20px;
  padding: 8px;
  outline: 0;
}


.serverheader {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--border-color-1);
  align-items: center;
  .tools {
    display: flex;
    button
    {
      background-color: transparent;
      color: var(--option-btn-color);
      border: none;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      border-radius: 50%;

      &:hover
      {
        background-color: var(--hover-option-btn-bg-color);
      }

    }
  }
}

form input:focus {
  border: 2px solid --input-border-color;
  box-shadow: 0 0 5px --input-border-color
}

aside form input:focus {
  background-color: #111;

  padding: 10px;

}


  .label{
   
    background-color: var(--input-bg-color);  
    padding: 2px 0; 
     h2{
      text-align: center;
      font-size: 1.2rem;
      
          }

  }

.serverlist ,.folderlist {
  height: 100%;
  width: 100%;
  padding: 20px 5px;

  .item {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

    &.active
    {
      background-color: var(--active-server-item-color)!important;
    }

    &:hover {
      background-color: var(--hover-server-item-color)
    }

    img {
      min-width: 56px;
      background-color: #444;
      min-height: 56px;
      max-width: 56px;
      max-height: 56px;
      border-radius: 50%;

    }

    &.f
    {
      img
      {
        border-radius: 0;
        background-color: transparent;
      }
    }

    .info {
      padding: 0 10px;

      span {
        color: var(--text-color3)
      }

      h3 {
        margin: 0;
        color: var(--text-color3);
        font-weight: 400;
        font-size: 1.3rem;
      }

    }
  }

}

h1 {
  color: rgb(221, 221, 221);
}


.settings {
  position: fixed;
  background-color: #222;
  height: 100%;
  width: 100%;
}

.contextmenu {
  position: fixed;
  background: #222;
  width: 256px;

  font-size: 1rem;


  .contextContainer {
    z-index: 1;
    width: 100%;
    height: 50px;
  }

  .menuElement {
    color: #d2d2d2;
    cursor: pointer;
    padding: 12px 20px;
  }

  .menuElement:hover {
    background: #444;
  }
}


.videoplayer-wrapper
{
  
  height:100%;
  display: flex;
  background-color: #1115;
  backdrop-filter: blur(50px);
  flex-direction: column;
  align-items: center;
  width: 100%;
  .videoplayer
  {
    max-width: 100%;
    width: 756px;
    height: 486px;
    background-color: #111;
    display: flex;
    margin: 20px;

    video
    {
      margin: auto;
      width: 100%;
    }

  }


.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #111;
  padding: 5px 50px;
  border-radius: 50px;
  z-index: 20;
  position: absolute;
  
  bottom: 20px;

}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;

}

/* The time controls section */

.timecontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 100%;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: rgb(194, 0, 39);
  height: 100%;
}

.controlsTime {
  color: white;
}

}


.dialog-wrapper
{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index: 10000;
  display: flex;
  height: 100%;
  background-color: #1115;
  backdrop-filter: blur(50px);

  .dialog
  {
    max-width: 100%;
    width: 300px;
    padding: 30px 20px;
    margin: auto;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .form-input
    {
      padding: 20px 0;
      input
      {
        color: var(--text-color2);
        background-color: var(--input-bg-color);
        border: 2px solid var(--input-border-color);
        border-radius: 20px;
        padding: 8px;
        outline: 0;
        width: 100%;
      }
      button
      {
        color: var(--text-color2);
        background-color: var(--input-bg-color);
        border: 2px solid var(--input-border-color);
        border-radius: 20px;
        padding: 8px;
        outline: 0;
        width: 100%;

        &:hover
        {
          background-color: var(--active-server-item-color);
        } 
      }
    }


    

  }
}